{% extends 'base.html' %}

{% block title %}Reportes{% endblock %}

{% block content %}


<h2 class="major">Reportes</h2>
<a class="button" href="{% url 'home' %}">Volver</a>
<section id="reportes">
    <div class="chart-container">
        <h2>Usuarias por edad</h2>
        <img src="data:imagen/png;base64,{{imagen_base64_edad}}" alt="Personas por edad">
        <br><br>
        <h2>Usuarios por año de nacimiento</h2>
        <img src="data:image/png;base64,{{ imagen_base64_anios_nacimiento }}" alt="Personas por año de nacimiento">
        <br><br>
        <h2>Respuestas preguntas</h2>
        <img src="data:image/png;base64,{{ imagen_base64_pregunta1 }}" alt="Ingresos por día">
        <img src="data:image/png;base64,{{ imagen_base64_pregunta2 }}" alt="Ingresos por día">
        <img src="data:image/png;base64,{{ imagen_base64_pregunta3 }}" alt="Ingresos por día">
        <img src="data:image/png;base64,{{ imagen_base64_pregunta4 }}" alt="Ingresos por día">
        <img src="data:image/png;base64,{{ imagen_base64_pregunta5 }}" alt="Ingresos por día">
        <img src="data:image/png;base64,{{ imagen_base64_pregunta6 }}" alt="Ingresos por día">
        <br><br>
        <h2>Ingresos por día</h2>
        <img src="data:image/png;base64,{{ imagen_base64_ingresos }}" alt="Ingresos por día">
        <br><br>
        <h2>Personas por género</h2>
        <img src="data:image/png;base64,{{ imagen_base64_genero }}" alt="Personas por género">
        <br><br>
        <h2>Ingresos por comuna</h2>
            <img src="data:image/png;base64,{{ imagen_base64_ingresos_comuna }}" alt="Ingresos por comuna">
            <br><br>
        <h2>Referencias</h2>
            <img src="data:image/png;base64,{{ imagen_base64_referencias }}" alt="Referencias">
            <br><br>
        <h2>Mamografía por edad Respuesta Si </h2>
            <img src="data:image/png;base64, {{imagen_base64_mamografia_si_por_edad}}" alt="Mamografia respuesta si por edad", style="width: 100%; height: auto;">
            <br><br>
        <h2>Mamografía por edad Respuesta No  </h2>
            <img src="data:image/png;base64, {{imagen_base64_mamografia_no_por_edad}}" alt="Mamografia respuesta no por edad", style="width: 100%; height: auto;">    
            <br><br>
        <h2>Se ha realizado mamografía: si/no por edad  </h2>
            <img src="data:image/png;base64, {{imagen_base64_mamografia_por_edad_si_no}}" alt="Mamografia por edad si/no", style="width: 100%; height: auto;"> 
            <br><br>
        <h2>Tiempo transcurrido desde última mamografía</h2>
            <img src="data:image/png;base64, {{imagen_base64_tiempo_transc}}" alt="Tiempo transcurrido", style="width: 100%; height: auto;">
            <br><br>
        <h2>Usuarias por rango de edad </h2>
        <img src="data:image/png;base64, {{imagen_base64_rango_edad}}" alt="Tiempo transcurrido">
        <h2>Se ha realizado mamografía: si/no por rango de edad</h2>
        <img src="data:image/png;base64, {{imagen_base64_mamografia_si_no_rango_edad}}" alt="Mamografia si/no por rango de edad">
    </div>

</section>
<a class="button" href="{% url 'home' %}">Volver</a>

<style>
    .chart-container {
        width: 100%;
        height: auto;
        position: relative;
    }

    section#reportes {
        text-align: center;
    }
</style>

{% endblock %}
